<main class="content">
  <!-- Page Header -->
  <div class="page-header hstack justify-between items-start">
    <div>
      <h1>{{ selectedDeviceDetails?.name || 'Device Dashboard' }} · {{ selectedDeviceDetails?.code || '-' }}</h1>
       <p>Real-time monitoring of power systems, devices, and operational metrics.</p>
    </div>
    <div class="hstack gap-2">
      <!-- <button [routerLink]="deviceId ? ['/device-detail', deviceId] : null" [disabled]="!deviceId" type="submit" class="btn primary" pButton label="Site View" icon="pi pi-server">
          Site View
      </button> -->
    </div>
  </div>
</main>